[Unit]
Description=HQM Server

[Service]
WorkingDirectory=/srv/hqm
User=hqm
ExecStart=/srv/hqm/migo-hqm-server /srv/hqm/%i.ini

[Install]
WantedBy=multi-user.target
